<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>
                Usuario
            </h3>
            <app-formulario-registro>
            </app-formulario-registro>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-block btn-primary">
                        Cambiar
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <h3>
                Roles
            </h3>
            <div *ngFor="let item of todosEquipos">
                <p-tabView [controlClose]="true" (onClose)="handleClose($event)">
                    <p-tabPanel header="{{item.estadio}}" [closable]="true">
                        {{item.nombre}}
                    </p-tabPanel>
                </p-tabView>
            </div>            
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <select class="form-control">
                <option>Roles</option>
            </select>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-block btn-primary">
                        Agregar Rol
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>